<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2 class="text-center"><%= @video.name %></h2>
    <span class="pull-right"><%= @video.views %> views</span>
    <%= video_tag(@video.file, controls: true, autobuffer: true) rescue 'Temproory video is not available' %>
    <p><%= @video.description %></p>
  </div>
  <br>
  <% if (current_user && current_user.is_owner?(@video)) %>
    <div class="col-md-12 text-center">
      <%= link_to 'Edit', edit_video_path(@video) %> |
      <%= link_to 'Back', videos_path %>
    </div>
  <% end %>
</div>
